<mat-card>
  <mat-card-content>
    <div class="login-container">
      <div class="logo-container">
        <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-2650.jpg?w=740&t=st%3D1682081909%7Eexp%3D1682082509%7Ehmac%3D28a4193142064138f62f8ba0637224cdf47879ae87c04fb55d7782d86f0dde06" alt="Logo" class="logo-image">
      </div>
      <div class="form-container">
        <h2>User Login</h2>
        <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
          <div class="input-container">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-raised-button color="primary">Login</button>
            <a routerLink="/register" mat-raised-button color="accent">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
