<mat-card>
  <mat-card-header>
    <h2></h2>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around end">
      <mat-card id="card1">
        <mat-card-header>
          <mat-card-title>Vendors</mat-card-title>
          <mat-card-subtitle>{{nb_vendors}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card id="card2">
        <mat-card-header>
          <mat-card-title>Products</mat-card-title>
          <mat-card-subtitle>{{nb_products}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card id="card2">
        <mat-card-header>
          <mat-card-title>Customers</mat-card-title>
          <mat-card-subtitle>{{nb_customer}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-card-content>
  <div fxLayout="row" fxLayoutAlign="space-around" >

    <div class="chart-wrapper" id="chart1">
      <canvas baseChart
              [type]="'bar'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        >
      </canvas>
    </div>

    <div class="chart-wrapper" id="chart2">
      <canvas baseChart
              [type]="'pie'"
        [datasets]="chartData1"
        [labels]="chartLabels1"
        [options]="chartOptions1"
        >
      </canvas>
    </div>
    </div>
</mat-card>
